
body {
  font-family:sans-serif;
}

.commentContainer {
  background-color:#bbb;
  padding:10px;
  border:1px solid black;
  width:fit-content;
  min-width: 400px;
 
}

.commentContainer h1 {
  padding:5px;
  margin:10px; 
  text-align:center;
}

.button-1 {
    background-color:#484;
}

.button-2{
    background-color:#448;
}

.button-3 {
  background-color:#944;
}

button {
  font-size:1em;
  border-radius:10px;
  padding:0.2em 0.8em 0.2em 0.8em;
  outline:none;
  color:white;
  margin-right:15px;
}

.board {
  background-color:#EEE;
  padding:20px;
}
#newButton {
  margin-top: 20px;
}
